.about-photo {
    width: 559px;
    height: 601px;
    object-fit: cover;
}

.about-container {
    display: flex;
    
}

.about-description {
    color:#011A41;
    font-family: Jost;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    align-self: stretch;
}

.about-text {
    color: #555;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about-right {
    width: 549px;
    display: flex;
}

.service-items-main-container {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 25px;
    border: 1px solid  #909DE2;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.14);
    justify-content: space-around;
}

.service-items {
    display: flex;
    align-items: flex-start;
    gap: 13px;
}


.service-items.line {
    border-right: 1px solid #909DE2;
}
.service-description {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-right: 13px;
}

.service-description-1 {
    color:  #011A41;
    font-family: Jost;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 0;
}

.service-description-2 {
    color: #555;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
    align-self: stretch;
}