body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.zero-margin {
    margin: 0;
}

.section-alignment {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section-correction {
    width: 100%;
    background:  #355EFC;
}
