#footer-box {
    display: flex;
    width: 1237px;
    height: 330px;
    flex-shrink: 0;
    background-color: #011A41;
}

#footer-box p,h3{
    color: #FFFFFF;
}

.footer-icon-container {
    position: relative;
}

.footer-icon {
    position: absolute;
    right: 10px;
    top: 9px;
}

.footer-icons {
    display: flex;
    width: 195px;
    height: 34px;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
}


