header {
    background-image: url('/images/hero-shape.svg');
    background-repeat: no-repeat;
    height: 697px;
    margin-bottom: 77px;
}

.header-top {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-time {
    display: flex;
    width: 373px;
    gap: 30px;
    align-items: center;
}

.email-telephone {
    display: flex;
    gap: 65px;
    color: #355EFC;
    justify-content: center;
    align-items: center;
}

.time,
.location,
.email,
.telephone {
    font-size: 14px;
    font-weight: 400;
    color:#355EFC;
    margin-left: 5px;
    text-decoration: none;
}

.location-icon {
    width: 14px;
    height: 14px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 97px;
    margin-top: 29px;
}

nav a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #355EFC;
}

nav {
    gap: 15px;
    display: flex;
}

.navigation-bar {
    display: flex;
    align-items: center;
}


.facebook-logo,
.twitter-logo,
.linkedin-logo {
    position: absolute;
    right: 12px;
    top: 8px;
}

.logo-container {
    display: flex;
    gap: 10px;
    margin-left: 61px;
}

.facebook-container,
.twitter-container,
.linkedin-container {
    position: relative;
}

.header-left {
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 80px;
    position: relative;
}

.slider-button-right {
    position: absolute;
    right: 0;
    top: calc(50% + 23.5px);
}

.slider-button-right img,
.slider-button-left img {
    width: 76px;
    height: 62px;
}

.slider-button-left {
    position: absolute;
    left: 0;
}

.slider-button-left :hover,
.slider-button-right :hover {
    cursor: pointer;
}

.header-text {
    color: #011A41;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    width: 731px;
    margin: 0;
}


.header-middle {
    display: flex;
    height: 400px;
    align-items: center;
}

.header-top-correction {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
}


.slider {
    position: relative;
    height: 605px;
}


.slider-image {
    width: 853px;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
